@import './color.css';

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding-left: 300px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--uchu-yang);
  color: var(--uchu-blue-8);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

@media (max-width: 768px) {
  #app {
    flex-direction: column;
    padding-left: 0;
    padding-top: 6.5rem;
  }

  h1 {
    font-size: 2rem !important;
  }

  main {
    padding: 1rem !important;
  }

  .card-container {
    margin: 0 -1rem;
    border-radius: 0 !important;
  }
}